# Dependencies
node_modules/

# Environment
.env
.env.local
.env.*.local

# NestJS
dist/
build/

# IDE
.vscode/
.idea/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Logs
logs/
*.log

# Test coverage
coverage/

# Generated Prisma Client
generated/

docs_config/
/src/generated/prisma
.agents/
.claude/
.windsurf/

/generated/prisma
